<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= movie.title %> - Details</title>
  <link rel="stylesheet" href="css/movieDetail.css">
</head>
<body>
  <h1 style="text-align: center;"><%= movie.title %></h1>
  <div class="movie-details">
    <div class="movie-image">
      <img src="http://localhost:3000/<%= movie.image %>" alt="<%= movie.title %>" width="400">
    </div>
    <div class="movie-info">
      <h2>Description:</h2>
      <p><%= movie.description %></p>
    </div>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <a href="/" class="back-button">Back to Movies</a>
  </div>
</body>
</html>
